@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* premium-slate-50 */
  color: #5e5c6c; /* premium-charcoal */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #a2bce0; /* premium-powder */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5299d3; /* premium-blue */
}